#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
  }

  .card {
    cursor: pointer;
  }
  .accordion-button:focus {
      box-shadow: none;
      border-color: rgba(0,0,0,.125);
  }

/* .vastaus {
  color: black;
  background-color: black;
}

.vastaus:active {
  background-color: white;
} */